* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html, body {
    background-color: var(--deep-blue);
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--font-main);
    border-bottom: 2.5px solid rgba(255, 255, 255, 0.2);
}

main {
    width: 100%;
    padding: 20px;
}

.main-wrapper {
    width: 100%;
}

.new-day {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--font-main);
    color: var(--font-fade);
    border-radius: 50px;
    font-size: 1.3rem;
    padding-block: 10px;
    margin-block: 50px 15px;
}

.new-day:first-child {
    margin-top: 15px;
}

.period {
    margin: 15px 10px;
    margin-top: 45px;
    padding: 10px;
    border-radius: 13px;
    border-top-left-radius: 0;
    position: relative;
    background-color: var(--lighter-blue);
    color: #EEE;
}

.period .period-time {
    background-color: var(--font-main);
    color: #222;
    position: absolute;
    padding: 6px 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: 30px;
    top: -30px;
    left: 0;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 13px 13px 0 0;
}

.period .period-text {
    color: #DDD;
}

.period img {
    display: none;
}