#pwd {
    font-size: large;
    width: 50%;
    height: 40px;
    border: none;
    border-radius: 4px;
    border-bottom: #0099D7 solid 3px;
}

#pwd:focus {
    outline: none;
    border-bottom: #00587a solid 3px;
}