* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
    min-height: 90vh;
    width: 100%;
    background-color: var(--deep-blue);
}

main {
    padding: 20px;
}

.search-bar {
    position: relative;
    height: 50px;
    background-color: var(--lighter-blue);
    border-radius: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 5px 16px 6px;
    box-shadow: 0 4px 2px -2px;
}

.search-bar input {
    width: 80%;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 1.3rem;
    transition: 200ms ease-in-out;
}

.search-bar input::placeholder {
    color: var(--font-fade);;
}

.search-bar img {
    position: absolute;
    right: 13px;
    width: 30px;
    height: 30px;
}

.results-wrapper {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.result {
    max-width: 400px;
    height: 80px;
    width: 100%;
    background-color: #EEE;
    border-radius: 17px;
    display: flex;
    /* overflow: hidden; */
}

.code-display {
    min-width: 85px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    padding: 10px 0 10px;

    /* border-radius: 17px; */
    /* border-right: 3px solid var(--font-fade); */
    border-right: 3px solid rgba(0,0,0,0.2);

    color: var(--lighter-blue);
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
}

.more-infos {
    /* background-color: blue; */
    height: 100%;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding: 8px 10px;
    padding-right: 16px;

    border-radius: 17px;

    font-size: 1.1rem;
    font-weight: 600;
}

#id-display {
    max-height: 23px;
}

.various-infos {
    display: flex;
    justify-content: space-between;
}

.various-infos .wrapper {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 12px;
}

.children {
    display: flex;
    justify-content: center;
    align-items: center;
}

.children img {
    margin-left: -2px;
}

.info-icon {
    width: 28px;
    height: 28px;
}