* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
    min-height: 90vh;
    width: 100%;
    background-color: var(--deep-blue);
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--font-main);
    text-align: center;
    border-bottom: 2.5px solid rgba(255, 255, 255, 0.2);
}

.not-found {
    width: 100%;
    height: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    padding: 35px 20px;
}

.not-found .warning {
    color: #e4d11d;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
    max-width: 280px;
}

.button-wrapper {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: right;
}

.btn {
    padding: 10px 18px;
    background-color: var(--classic-blue);
    border-radius: 7px;
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    border: none;
}


/** FICHE'S CSS **/
.fiche {
    width: 100%;
    max-width: 440px;
    padding: 30px 20px;
    min-height: 500px;
    margin: auto;
}

.main-wrapper {
    background-color: var(--font-main);
    width: 100%;
    min-height: 300px;
    border-radius: 13px;
    background-color: #EEE;
}

#identity {
    max-width: 400px;
    height: 80px;
    width: 100%;
    border-radius: 17px 17px 0 0;
    display: flex;
    border-bottom: 3px solid rgba(0,0,0,0.2);
}

.code-display {
    min-width: 85px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    padding: 10px 0 10px;

    /* border-radius: 17px; */
    /* border-right: 3px solid var(--font-fade); */
    border-right: 3px solid rgba(0,0,0,0.2);

    color: var(--lighter-blue);
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
}

.more-infos {
    /* background-color: blue; */
    height: 100%;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding: 8px 10px;
    padding-right: 16px;

    border-radius: 17px 17px 0 0;

    font-size: 1.1rem;
    font-weight: 600;
}

#id-display {
    max-height: 23px;
}

.more-infos p {
    white-space: nowrap;
}

#email {
    font-size: 1.05rem;
    color: #777;
    font-style: italic;
    font-weight: 500;
}

#event {
    padding: 15px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info-field {
    display: flex;
    width: 100%;
    justify-content: left;
    align-items: center;
    gap: 12px;
    max-height: 48px;
    overflow: hidden;
}

.info-field .info-icon {
    width: 48px;
    aspect-ratio: 1/1;
}

.info-field p {
    margin-top: -3px;
}

.important-info {
    color: #6495ed;
    font-size: 1.1rem;
    font-weight: 700;
    white-space: nowrap;
}


#accounts {
    width: 100%;
    padding: 25px;
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#owed {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.person-accountability {
    width: 80px;
    aspect-ratio: 1/1;
    border-radius: 17px;
    border: rgba(0,0,0,0.2) solid 3px;
    margin-bottom: 15px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.person-accountability .important-info {
    font-size: 1.5rem;
}

.person-accountability .icon {
    width: 40px;
    aspect-ratio: 1/1;
}

.person-accountability:first-child .icon {
    width: 48px;
}

.person-accountability:first-child p {
    margin-top: -3px;
    margin-bottom: 3px;
}

#payment {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.payment-method {
    background-color: #DDD;
    display: flex;
    justify-content: center;
    align-items: space-between;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    margin: auto;
    border-radius: 7px;
}

.payment-method p {
    margin-top: -5px;
    padding: 7px;
    font-weight: 600;
    font-size: 1.1rem;
    text-align: center;
}

.payment-method p:first-child {
    padding-bottom: 0;
}

.payment-method .price-display {
    text-align: center;
    padding-top: 0;
    background-color: transparent;
    border: none;
    outline: none;
}
/* 
.payment-method ul {
    margin-top: -5px;
}

.payment-method ul li {
    margin-left: 15px;
} */

.payment-method .confirm-payment {
    border: none;
    outline: none;
    background-color: transparent;
    background-image: url('../../img/confirm-icon.png');
    width: 72px;
    aspect-ratio: 1/1;
    background-size: cover;
    color: transparent;
    margin: auto;
}

.confirm-payment {
    width: min-content;
}

.payment-method .confirm-payment .icon-confirm {
    width: 72px;
    aspect-ratio: 1/1;
}

.nowrap {
    white-space: nowrap;
}

.bigger-font {
    font-size: 2rem !important;
}

#error-message-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 20px;
    width: 100%;
    display: none;
}

.error-message {
    position: relative;
    background-color: #e4d11d;
    padding: 10px 15px;
    padding-top: 5px;
    border-radius: 13px;
    max-width: 350px;
    width: 80vw;
}

.error-message img {
    position: absolute;
    top: 10px;
    right: 10px;
}